.loading{
	position: relative;		
	width: 100%;
	height: 100%;
	background:#A0CFEC url('/images/loading.gif') no-repeat;			
	background-position: 50% 50%;
	background-color: #000;	
	z-index: 10000000;
}

@media only screen and (orientation: landscape) {
html, body{
		position: relative;
		width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden; 
  		overflow-y: hidden;
      }

 .background{
  color: white;
  background: repeating-linear-gradient(
    45deg,
    #DCDCDC,
    #DCDCDC 10px,
    white 10px,
    white 20px
  );
}

.map{
    min-height:100%;
    width:60%;
    margin:0px;
     }

.container{
	position: absolute;
	/*position: relative;*/
			/*overflow-x:auto;*/
	width:40%;
	height: 100%;
	top:0px;	
	right:0px;
	text-align: center;
	border-left: solid 0.3em #08088A;

	vertical-align: middle;
}

.title{		
	display: inline-block;	
	width: 100%;
	top:0%;
	/*background: #A9BCF5;	*/
	background: #5588ff;
	line-height: 60%;
	text-align: center;
}
.title h1{
	font-family: "cannon ball";
	font-size: 3vw;	
	font-weight: normal;
	color:#151B54;
}
@font-face{
	font-family: "cannon ball";
	src: url('/fonts/cannonBALL.ttf'); 
}

h2{
font-family: "cannon ball";
	font-size: 3vw;	
	font-weight: normal;
	color:green;	
}
h3{
font-family: "cannon ball";
	font-size: 3vw;	
	font-weight: normal;
	color:orange;	
}


.table{
	position: absolute;
	table-layout: fixed;
	width:75%;
	height:65%;
	top:22%; 
	left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;	
    overflow: auto;    
}

.table td{	
	padding: 3%;
	height: 20%;
}

.tableEvanWrapper{
	width:100%;
	border: solid 2px red;
}

.tablescroll
{ 
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;	
	font-size: 1vw;
	font-weight: 200;

	background-color:#fff; 
	margin:3em;

}

.tablescroll td, 
.tablescroll_wrapper,
.tablescroll_head,
.tablescroll_foot
{ border:1px solid #ccc; }

.tablescroll td
{ padding:3px 5px; }

.tablescroll_wrapper
{ border-left:0; }

.tablescroll_head
{ font-size:1.5em; font-weight:bold; background-color:#A9BCF5; border-left:0; border-top:solid 2px black; border-bottom:solid 2px black; margin-bottom:0.5em; }

.tablescroll_foot
{ font-size:1.5em; font-weight:bold; background-color:#A9BCF5; border-left:0; border-top:solid 2px black; border-bottom:solid 2px black; margin-top:0.5em; }

.tablescroll thead td
{ border-right:0; border-bottom:0; }

.tablescroll tbody td
{ border-right:0; border-bottom:0; }

.tablescroll tbody tr.first td
{ border-top:0; }

/*.tablescroll_foot
{ font-weight:bold; background-color:#eee; border-left:0; border-top:0; margin-top:3px; }*/

.tablescroll tfoot td
{ border-right:0; border-bottom:0; }

.tablescroll tbody tr:hover{
	/*background-color: #00FFFF;*/
	background-color: #3498DB;
	font-weight:bold;
	cursor: pointer;
}
.tablescroll tr:nth-child(even) {background: #00FFFF}
.tableEvan tr:nth-child(odd) {background: #D0D0D0}

.bubbleInfo 
{
position: absolute;
left:69%;
width: 10em;
height: 4em;
margin-top: -17%;
padding: 0.2em;
background: #FFFFFF;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: #7F7FF6 solid 3px;

-webkit-animation-name: bubbleInfoEfectAnim;
animation-name: bubbleInfoEfectAnim;
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-timing-function: ease-in-out;
animation-timing-function: ease-in-out;
-webkit-animation-iteration-count: 1;
animation-iteration-count: 1;

-webkit-user-select: none;  
-moz-user-select: none;    
-ms-user-select: none;      
user-select: none;
}

.bubbleInfo:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 15px 10px 0;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 1;
bottom: -15px;
left: 83px;
}

.bubbleInfo:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 17px 12px 0;
border-color: #7F7FF6 transparent;
display: block;
width: 0;
z-index: 0;
bottom: -20px;
left: 81px;
}

.tableEvanInput{
	position: absolute;	
	width:100%;	
	table-layout: fixed;
	bottom:12%; 
	left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;	
    border-collapse: collapse; 
}
.tableEvanInput td{
	width: auto;
	margin:0.1em;
	padding:0.0em; 
	border-bottom: solid 1px black;
}
.inputEvan{
	width: 90%;
	border-radius: 0.3em;
}

.inputViet{
	height: 70%;
	width:90%;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;	
	font-size: 1.5vw;
	font-weight: 900;
	border-radius: 0.5em;
	border:solid 1px #A9BCF5;
	margin:0;
}
.inputViet:focus{
	outline:0;	
}

.centerRed{
	text-align:center;
	font-color: red;
	pointer-events:none;
}

textarea{	
	width:96%;
	height: 80%;	
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;	
	font-size: 1.2vw;
	font-weight: 900;
	border-radius: 0.5em;
	border:solid 1px #A9BCF5;
	padding: 0;
}
textarea:focus{
	outline:0;	
}

select{
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;	
	font-size: 1.5vw;
	font-weight: 900;
}

#vietImg{
	margin: 0;
	cursor: pointer;
	display: block;
	max-height:140px;
	padding: 0px;
}

.smallImageDrag{
	position:absolute;	
}

.tableInputViet {
	position:absolute;
	display:table;
	width: 90%; 
	height: 50%;
	top:20%;
	left:5%;
	border-bottom: solid 3px #A9BCF5;
    border-top: solid 3px #A9BCF5;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;	
	font-size: 1.5vw;
	font-weight: 900;
	color:#151B54;
	border:collapse;
}
.row {
	width: 100%; 
	display:table-row;
	min-height: 1px; 	
	margin: 0;	
}
.cell {
display: flex;
align-items: center;
    justify-content: center;
	height: 100%;
	float: left; 
	margin: 0; 
	padding: 0;
margin:0;
border-bottom: solid 1px #A9BCF5;
}
.onecol {width: 25%;}
.twocol {width: 50%;}
.threecol {width: 75%;}

.onerow{height: 10%;}
.tworow{height: 15%;}
.threerow{height: 30%;}

.vietContent{
text-align: left;
}

h4{
	text-align: left;
}

.tempInputRemover{
	position:absolute;
	width:0px;
	height:0px;	
	visibility: hidden;
}
.tempInputTableShrink{
	max-height:10%;
	padding-top: 3%;
	padding-bottom: 3%;
}
.tempInputTableShrink .cell{
	border: none;
	vertical-align: middle; 
	display: table-cell;
	height:100%;
}

.bubble 
{
position: absolute;
left:77%;
width: 10em;
height: 4em;
padding: 2px;
background: #FFFFFF;
-webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 25px;
border: #A9BCF5 solid 5px;
font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;	
font-size: 120%;
font-weight: 900;
color:#151B54;
text-align: center;
z-index: 1000;

-webkit-animation-name: bubbleEfectAnim;
animation-name: bubbleEfectAnim;
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-timing-function: ease-in-out;
animation-timing-function: ease-in-out;
-webkit-animation-iteration-count: 1;
animation-iteration-count: 1;

 -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

.bubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 11px 20px 11px 0;
border-color: transparent #FFFFFF;
display: block;
width: 0;
z-index: 1;
margin-top: -11px;
left: -20px;
top: 61%;
}

.bubble:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 15px 24px 15px 0;
border-color: transparent #A9BCF5;
display: block;
width: 0;
z-index: 0;
margin-top: -15px;
left: -29px;
top: 61%;
}

@-webkit-keyframes bubbleEfectAnim{
  5% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }
  15% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
   25% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
   35% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  40% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
  } 
}
@-moz-keyframes bubbleEfectAnim{
  5% {
    -moz-transform: scale(1.6);
    transform: scale(1.6);
  }
  15% {
    -moz-transform: scale(1.4);
    transform: scale(1.4);
  }
   25% {
    -moz-transform: scale(1.6);
    transform: scale(1.6);
  }
   35% {
    -moz-transform: scale(1.3);
    transform: scale(1.3);
  }
  40% {
    -moz-transform: scale(1.5);
    transform: scale(1.5);
  }
  45% {
    -moz-transform: scale(1);
    transform: scale(1);
  } 
}
@keyframes bubbleEfectAnim{
  5% {
    transform: scale(1.6);
  }
  15% {
    transform: scale(1.4);
  }
   25% {
    transform: scale(1.6);
  }
   35% {
    transform: scale(1.3);
  }
  40% {
    transform: scale(1.5);
  }
  45% {
    transform: scale(1);
  } 
}

.bubleEfect:active{
	transition: transform 1s;
	transform: scale(2);
}

.cursorGrab{
	cursor: auto !important;
}

.btnVietSave{
	width:60%;
	height:40%;
	cursor: initial;
	background-color: red;
	margin:0;
	border-radius: 1em;
	border:none;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;	
	font-size: 1.5vw;
	font-weight: 900;
	pointer-events: none;
}

.btnVietSave:focus{
	outline: none;
	-moz-outline: none;
}

.ok{
	background-color: #50D050;
	pointer-events: initial;
	cursor: pointer;
}
.ok:hover{
	background-color: #50D950;
}

.btnMain{
	width:100%;
	height:100%;
	cursor: pointer;
	border-radius: 1.5em;
	background-color: #77aaff;
	border: solid 0.4em #F0F1FF;
	color: #151B54;

	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;	
	font-size: 1.5vw;
	font-weight: 900;
	transition: all 0.3s ease 0s;	
}

.btnMain:hover{
	background: #5588ff;
	font-color: black;
	box-shadow: 0 0 0 6px #08088A;
}
.btnMain:focus{
	outline:0;	
}

.btnMain#btnSmile{	
	background:#77aaff url('/images/smile.png') no-repeat;
	background-size:contain;
	background-position: 50% 50%;
}
.btnMain#btnSmile:hover{
	background: #5588ff url('/images/smile.png') no-repeat;
	background-size:contain;
	background-position: 50% 50%;
}
.btnMain#btnSmile:focus{
	outline:0;	
}

.btnBack{
	position: absolute;
	width:30%;
	height:8%;
	bottom:1%;
	left:32%;	
	cursor: pointer;	
	background: url('/images/home.png') no-repeat;
	background-position: 50% 50%;
	background-size:contain;
	color: #2A1B0A;
	font-size:1em; 
	font-weight: bold;
	border-radius: 1em;
	border:solid 0.2em black;
}
.btnBack:hover{
	background-color: #77aaff; 
	font-weight: 900;
	font-color: black;
	border:double 2px white;
}
.btnBack:focus{
	outline:0;	
}

#btnholder{
	height:4vh;
	margin:0px;
}

.btnSubmit{
	width:100%;
	height:auto;
	cursor: pointer;
	border-radius: 0.3em;
	background: #CEE3F6;
	border: solid 0.1em #08088A;
	color: #2A1B0A;
	font-size:1em; 
	font-weight: bold;
	padding: 0px;
}
.btnSubmit:hover{
	background: #A9BCF5;
	font-color: black;
}
.btnSubmit:focus{
	outline:0;	
}
.assgnButton{
	border: none;
    color: white;
    background-color: red;
    text-align: center;
}
#info{
	position: absolute;
	width: 60%;
	height: 30%;
	bottom:0px;
	left:0px;
	background-color: grey;
}
.pswdInput{
	width:5em;
}

.pokynyTableWrapper{
	position: absolute;
	width:90%;
	height:78%;
	top:10%;  
	margin:4%;
	font: 2.2vh normal Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;	
}

.pokynyTableWrapper_mobile{
	position: absolute;
	width:90%;
	height:78%;
	top:10%;  
	margin:4%;
	font: 2.2vh normal Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.pokynyTable{
	position: absolute; 
	width:100%;
	height:100%;
	text-align: justify;
	padding: 0px;
 	border-collapse: collapse; 	
}

.pokynyTable td{
	padding:0; 
	margin:0;	
}

.appver{
	position:absolute;
	bottom:10px;
	right:20px;
	width:20px;
	height:10px;
	font: 0.7em normal Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
}

@media only screen and (orientation: portrait) {	
html, body{
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden; 
  		overflow-y: hidden;
      }

		.container{
			position: relative;
			width:100%;
			height: 100%;
			top:0px;	
			right:0px;		
			background-color: black;	
			border: 0;
			border-width: 0;			
		}


		.mobileImage{					
			position:absolute;
			width:40%;
			height: 40%;
			border:solid 0.5em white;
			top: 35%;
    		left: 60%;    		
    		margin: -15% 0 0 -30%;  
    		
			border-radius: 2em;
			border-top: solid 2.2em white;
			border-bottom: solid 2em white;

    		-webkit-animation: mobile 5s ease-in-out infinite;
    		-moz-animation: mobile 5s ease-in-out infinite;
            -webkit-animation-delay:2s;
    		background-color: grey;
		}

		@-webkit-keyframes mobile {
    		0%{
              -webkit-transform: rotate(0deg);
    			}
    		  30%{
                -webkit-transform: rotate(90deg);
    		    }
    		    100%{
    		    -webkit-transform: rotate(90deg);
    		    }

		}
		@-moz-keyframes mobile {
    		0%{
              -moz-transform: rotate(0deg);
    			}
    		  30%{
                -moz-transform: rotate(90deg);
    		    }
    		    100%{
                -moz-transform: rotate(90deg);
    		    }
		}
	

.tablescroll{ 
	position: relative; 
	z-index: -100;
}
.tableEvanInput{
	position: relative;
	z-index: -100;
}
.pokynyTable{
	position: relative;
	z-index: -100;	
}

		h1{
			position: absolute;
			left: -1000px;	
		}

		#map{
		    min-height:0%;
		    width:0%;
		    margin:0px;		    
		    z-index: -100;
		}

		.title{	
			position: relative;	
			height: 0%;
			width: 0%;
			z-index: 0;
		}

		.btnMain{
			position: absolute;
			left: -1000px;			
			z-index: -100;
		}
}

/* FOR SMARTPHONE DEVICES IN PORTRAIT */
@font-face{
	font-family: "cannon ball";
	src: url('/fonts/cannonBALL.ttf'); 
}
.blockElement{ 
			position: relative;	

			background-color: #000;	
			font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;			
			font-size: 1.8em;
			font-weight: normal;
			color:#fff;			
  			text-align: center;
  			top:20%;  		
		}


